In [3]:
# import pandas with shortcut 'pd'
import pandas as pd  
  
# read_csv function which is used to read the required CSV file
data = pd.read_csv('../data/Amharic News Dataset.csv')

# drop function which is used in removing or deleting rows or columns from the CSV files
data.drop('category', inplace=True, axis=1)
data.drop('date', inplace=True, axis=1)
data.drop('views', inplace=True, axis=1)
data.drop('article', inplace=True, axis=1)
data.drop('link', inplace=True, axis=1)
  
# display 
print("\nCSV Data after deleting the column 'year':\n")
print(data)

data.to_csv('../data/headline_only.csv', index=False)

CSV Data after deleting the column 'year':

                                              headline
0          የኦሊምፒክ ማጣሪያ ተሳታፊዎች የሚለዩበት ቻምፒዮና እየተካሄደ ይገኛል
1                                           አዲስ ዘመን ድሮ
2                     የአረንጓዴ ጎርፍ በጎ አድራጎት አምባሳደሮች ተሰየሙ
3                የሊጉ በቢዝነስ ሞዴል መመራት አበረታች ጅምር መሆኑ ተገለጸ
4            የኦሊምፒክ ሥራ አስፈፃሚው እስከ ቶኪዮ ኦሊምፒክ ማግስት ይቀጥላል
...                                                ...
51478  የ2011 በጀት ዓመት የውጭ ዲሎማሲያዊ ተግባራት ስኬታማ እንደነበሩ ተገለጸ
51479   አቶ አገኘሁ ተሻገር የሰላም ግንባታና የሕዝብ ደህንነት ኃላፊ ሆነው ተሾሙ
51480               የአማራ ክልል ምክር ቤት የ230 ዳኞችን ሹመት አጸደቀ
51481  ሃምሌ 22 ለሚካሄደው የችግኝ ተከላ መርሀ-ግብር 54 ሚሊየን ብር ተመድቧል
51482         ለህግ የበላይነት መከበር ሁሉም በጋራ መስራት እንዳለበት ተጠቆመ

[51483 rows x 1 columns]

In [26]:
import psycopg2
conn = psycopg2.connect(database ="postgres", user = "postgres",
                        password = "postgres", host = "0.0.0.0", 
                        port = "5432")
  
print("Connection Successful to PostgreSQL")

OperationalError: connection to server at "0.0.0.0", port 5432 failed: Cannot assign requested address (0x00002741/10049)
	Is the server running on that host and accepting TCP/IP connections?

In [19]:
import psycopg2

conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=postgres port=59614")
conn.autocommit = True
cursor = conn.cursor()

sql = '''CREATE TABLE IF NOT EXISTS text_table2(id SERIAL PRIMARY KEY, headline VARCHAR(10000));'''


cursor.execute(sql)

sql2 = '''COPY text_table2(id, headline)
FROM '../data/headline_only.csv'
DELIMITER ','
CSV HEADER;'''

cursor.execute(sql2)

sql3 = '''select * from text_table2;'''
cursor.execute(sql3)
for i in cursor.fetchall():
	print(i)

conn.commit()
conn.close()

OperationalError: connection to server at "127.0.0.1", port 59614 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?